.Auth_page ion-row{
    margin: 0 !important;
    background: #f2f2f2;
}

.Auth_page .Auth_Form{
    ng-otp-input{
        input{
            height: 50px !important;
            width: 50px !important;
        }
    }
  
    text-align: center;
    background: #f2f2f2;
    padding-bottom: 0 !important;
    ion-item{
    padding: 0 !important;
    --border-width:0 !important;
    --background: #f2f2f2;
    ion-input{
        border: 1px solid gray;
        border-radius: 6px;
        text-align: center;
    }
  }
//   ng-otp-input{
//     .otp-input{
//         height: 50px;
//         width: 50px;
//     }
      
//       div#c_vajjr7o7mijkqgqz0wj{
//           text-align: center !important;
//       }
//   }
 
}

// .otp-input[_ngcontent-gye-c137]{
//     height: 50px !important;
//     width: 50px !important;
// }
// input#otp_0_tuz3ljjdowhkqi4x4j5{
//     height: 50px !important;
//     width: 50px !important;
// }

.otp-input {
    height: 50px !important;
    width: 50px !important;
}

.myInput{
    height: 50px;
    width: 50px;
}