
<ion-header class="ion-no-border">
  <ion-toolbar color="gray">
    <ion-buttons slot="start">
      <ion-button (click)="VerifyCode()" >
        <ion-icon name="earth" size="large" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="Auth_page">

  <div class="Auth_Image">
    <ion-img src="assets/imgs/signupImg.png"></ion-img>
  </div>

  <form [formGroup]="myForm">
    
    <div class="Auth_Form">
      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap">Email</ion-label>
        <ion-input formControlName="UserEmail" placeholder="enter email" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap">Name</ion-label>
        <ion-input formControlName="Name" placeholder="enter name" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap">Mobile Number</ion-label>
        <ion-input formControlName="Mobile" placeholder="enter mobile number" type="tel"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap"> Password</ion-label>
        <ion-input formControlName="Password"  placeholder="enter password" [type]="passwordType"></ion-input>
        <ion-icon (click)="ShowHidePassword()" size="small" class="ion-padding-top" [name]="passwordIcon" slot="end"> </ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap">Confirm Password</ion-label>
        <ion-input formControlName="ConfirmPassword"  placeholder="enter password" [type]="ConfirmpasswordType"></ion-input>
        <ion-icon (click)="ShowHideConfirmPassword()" size="small" class="ion-padding-top" [name]="ConfirmpasswordIcon" slot="end"> </ion-icon>
      </ion-item>

    </div>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button class="ion-text-center ion-text-lowercase" color="secondary" size="small" expand="full" shape="round" type="submit">
          <span> Sign up </span>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  
    <!-- <ion-item lines="none">
      <ion-label color="primary" position="fixed" class="ion-text-wrap"> Agree to Rules and Conditions</ion-label>
      <ion-radio formControlName="agree"   slot="start"></ion-radio>
    </ion-item> -->

    <div class="ion-text-center ion-text-lowercase">
      <ion-text color="primary" (click)="Login()">
        <h2> Login </h2>
      </ion-text>
    </div>

    
  </form>


</ion-content>