<ion-header class="ion-no-border">
  <ion-toolbar color="gray">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" size="large" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="Auth_page">
  <div class="Auth_Image">
    <ion-img src="assets/imgs/forgetpass.png"></ion-img>
  </div>
  
  <form [formGroup]="myForm">
    
    <div class="Auth_Form">
      <ion-item lines="none">
        <ion-label color="secondary" position="floating" class="ion-text-wrap">Email</ion-label>
        <ion-input formControlName="UserEmail" placeholder="enter email" type="email"></ion-input>
      </ion-item>
    </div>

    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button class="ion-text-center ion-text-lowercase" color="secondary" size="small" expand="full" shape="round" type="submit">
          <span>Send</span>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  

    
  </form>


</ion-content>